.menu-container-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 65px; /* altura controlada */
  background-color: #112444;
  z-index: 1000; /* se queda encima del contenido */
}

.button-menu-mobile {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-left: 3%;
}

.button-menu-mobile:focus {
  outline: none;
  box-shadow: none;
}

.icon-menu-mobile {
  font-size: 35px;
}

.menu-options-mobile {
  background-color: transparent;
  color: #fff;
}

.menu-options-mobile .menu-mobile-option:hover {
  background-color: #333; /* Cambia el color de fondo al pasar el mouse */
  color: #fff; /* Asegura que las letras sigan siendo blancas */
}

.menu-options-mobile .ant-menu-item-selected {
  background-color: #444; /* Color cuando está seleccionado */
}

.custom-close-icon {
  color: #fff;
  font-size: 30px;
}

.menu-mobile-icon {
  height: 80px;
  filter: invert(100%) brightness(2);
}

.menu-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-mobile-logo-empresa {
  height: 70%;
  filter: invert(100%);
  margin-right: 5%;
}
