.contenedor-principal {
  background-image: linear-gradient(
    to right top,
    #0174bc,
    #0182c7,
    #0a8fd1,
    #199ddb,
    #28abe4
  );
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.456);
  border-radius: 15px;
  width: 100%;
  max-width: 400px; /* límite máximo en desktop */
  padding: 2rem;
}

.icono-login {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.formulario img {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
  max-width: 220px;
}

.formulario Button {
  margin-top: 3%;
}

@media only screen and (max-width: 768px) {
  .formulario {
    max-width: 75%;
  }

  .icono-login img {
    max-width: 150px;
  }
}

@media (max-width: 1080px) and (orientation: landscape) {
  .formulario {
    display: flex;
    flex-direction: row-reverse;
    width: 500px;
  }

  .icono-login {
    width: 60%;
    padding: 5%;
    width: 100%;
  }

  .formulario input,
  .formulario .ant-input-password {
    width: 210px;
  }

}
