.menu-container {
  height: 100%;
  position: fixed;
  width: 100%;
  height: 85px;
  z-index: 1000;
}

.menu-title-options {
  background-color: #112444;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 100%;
}

.menu-options {
  background-color: #112444;
  align-items: center;
  height: 100%;
}

.menu-logo-empresa {
  height: 85%;
  width: auto;
  filter: invert(100%);
}
