h2 {
  text-align: center;
}

.linea-con-texto {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.linea-con-texto::before,
.linea-con-texto::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.linea-con-texto::before {
  margin-right: 10px;
}

.linea-con-texto::after {
  margin-left: 10px;
}

.formulario-cliente {
  background-color: #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.456);
  margin: 10%;
  margin-top: 0;
  margin-bottom: 4%;
  padding: 2%;
  border-radius: 10px;
}

.input-estilo {
  width: 96.7%;
  padding: 5px;
  font-size: 16px;
  border-radius: 6px;
  background-color: #fff;
  color: #3d3d3dd9;
}

.input-estilo:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 6px rgba(24, 144, 255, 0.2);
  outline: none;
  font-weight: normal;
}

.datos-viaje {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datos-viaje-uno,
.datos-viaje-dos {
  width: 45%;
}

.datos-conductor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datos-conductor-uno,
.datos-conductor-dos {
  width: 45%;
}

.datos-bus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datos-bus-uno,
.datos-bus-dos {
  width: 45%;
}

.form-pasajeros-container {
  max-width: 30%;
  top: 8%;
}

.modal-confirm,
.modal-closed {
  margin-top: 10%;
}

.cliente-button-back {
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.cliente-tabla-pasajeros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}



.datos-bus-dos {
  display: flex;
  flex-direction: column;
}

.datos-bus-button-finalizar {
  display: flex;
  justify-content: end;
  margin-top: 11%;
}

.steps {
  padding-left: 4%;
  padding-right: 4%;
}

.main-steps {
  text-align: center;
  background-color: #fafafa;
  border-radius: 15px;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
  min-height: 480px;
  overflow-x: auto;
}

.steps-buttons {
  margin-top: 1%;
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;
}

.group-buttons-descargar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

.button-download {
  background-color: #1677ff;
  border-radius: 8px;
  padding: 7px 20px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  box-shadow: 0 2px 0.5px #e2f0fb;
}

.button-download:hover {
  background-color: #4096ff;
  border: 1px solid #636bfc;
}

.button-download .pdf-text {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.group-nacionalidad-destino {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-fecha-cliente {
  width: 95%;
  padding: 4px 11px;
  /* padding de Ant Design */
  font-size: 14px;
  line-height: 1.5715;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s;
}

.input-fecha-cliente:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}



.group-input-list-drives {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs-drivers {
  width: 45%;
}

.list-drivers {
  width: 50%;
  padding-top: 2.5%;
}

@media only screen and (max-width: 1080px) {
  .formulario-cliente {
    padding: 5%;
    margin: 0 5% 10% 5%;

  }

  .datos-viaje {
    flex-direction: column;
  }

  .datos-viaje-uno,
  .datos-viaje-dos {
    width: 100%;
  }

  .datos-conductor {
    flex-direction: column;
  }

  .datos-conductor-uno,
  .datos-conductor-dos {
    width: 100%;
  }

  .datos-bus {
    flex-direction: column;
  }

  .datos-bus-uno,
  .datos-bus-dos {
    width: 100%;
  }

  .modal-confirm,
  .modal-closed {
    display: flex;
    align-items: center;
    min-height: 60vh;
  }

  .datos-bus-button-finalizar {
    margin-top: 5%;
  }

  .form-pasajeros-container {
    top: 0%;
  }

  .main-steps {
    margin: 0;
  }

  .group-nacionalidad-destino {
    display: flex;
    flex-direction: column;
  }



  .cliente-tabla-pasajeros {
    padding: 10px 0;
    /* menos padding en móvil */
  }

  .group-input-list-drives {
    display: flex;
    flex-direction: column;
  }

  .inputs-drivers,
  .list-drivers {
    width: 100%;
  }
}